@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #DB5427;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #458778;
	text-align: center;
	margin: 5px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #9C5943;
	margin: 5px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #458778;
	margin: 5px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #27DBB1;
	margin: 5px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
